<!-- i index ska det finnas ett sortiment av produkter  -->
<div class="menu">
        <ul>
            <li>Logga in</li>
            <li>Om oss</li>
            <li>Utbud</li>
            <li>Material</li>
            <li>Mål</li>
        </ul>

</div>

<div class="open">
    <i class="material-icons" onclick="toggleMenu()">keyboard_arrow_right</i>
</div>

    <script src="./js/menu.js"></script>
    
<div class="blocks">
    <a href=""></a>
</div>

<div class="blocks2">
    <a href=""></a>
</div>

<div class="blocks3">
    <a href=""></a>
</div>

<div class="blocks4">
    <a href=""><img src="" alt=""></a>
</div>

