<!-- i index ska det finnas ett sortiment av produkter  -->
<div class="blocks">
    <a href=""><img src="" alt=""></a>
</div>
<div class="blocks2">
    <a href=""><img src="" alt=""></a>
</div>
<div class="blocks3">
    <a href=""><img src="" alt=""></a>
</div>
<div class="blocks4">
    <a href=""><img src="" alt=""></a>
</div>

