.container main .blocks{
    background-color: #fff;
    grid-column: 2/3;
    grid-row: 4/6;
}
.blocks2{
    background-color: #fff;
    grid-column: 4/5;
    grid-row: 4/6;
}
.blocks3{
    background-color: #fff;
    grid-column: 2/3;
    grid-row: 7/9;
}
.blocks4{
    background-color: #fff;
    grid-column: 4/5;
    grid-row: 7/9;
}